$primary-color:#17a2b8;
$dark-color:#343a40;
$light-color:#f4f4f4;
$danger-color:#dc3545;
$success-color:#28a745;
$max-width:1100px;


//Set Text Color Based On Background Color
@function set-text-color($color) {
    @if(lightness($color) > 60) {
        @return #333;
    }
    @else {
        @return #fff;
    }
}


// Set Background and Text Color

@mixin set-background($color){
 background-color: $color;
 color: set-text-color($color);
}

//margin and padding classes

$spaceamounts : (1,2,3,4,5);

@each $space in $spaceamounts {
    //All around margin
    .m-#{$space} {
        margin: #{$space}rem; 
    }

    //Vertical Margin
    .my-#{$space} {
        margin: #{$space}rem 0; 
    }
    //All around padding
    .p-#{$space} {
        padding: #{$space}rem; 
    }

    //Vertical Padding
    .py-#{$space} {
        padding: #{$space}rem 0; 
    }
    
}